---
layout: archive
permalink: /news/
title: "News"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
  - /year-archive/
---

{% include base_path %}

<h2 class="archive__subtitle">Papers</h2>
{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2 class="archive__subtitle">Talks</h2>
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2 class="archive__subtitle">Blog</h2>
{% for post in site.posts reversed %}
  {% unless post.categories contains "other" %}
    {% include archive-single.html %}
  {% endunless %}
{% endfor %}

<h2 class="archive__subtitle">Other</h2>
{% for post in site.posts reversed %}
  {% if post.categories contains "other" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
